---
permalink: /
title: Stefano's virtual space
---
<section class="introduction">
  <div class="inner">
    <h1 class="top_margin">Stefano's virtual space</h1>
    <div class="columns three">
      <article>
        <h3>Blog</h3>
		<p>A scattered collections of unleashed thoughts</p>
      </article>
      <article>
        <h3>Resources</h3>
        <p>Practically everything else: </p>
		<p> talks, papers, books, ...</p>
      </article>
      <article>
        <h3>Code</h3>
        <p>Link to my code repositories</p>
      </article>
    </div>
  </div>
</section>%
