---
permalink: /talks/
title: Talks
layout: default.liquid
data:
  route: talks
---

<h1>Talks and rants </h1>

<ul class="blog-list">
  <li>
    <a href="https://palutz.github.io/introToFunctional" target="_blank">2017 - May - Make Functions Great Again (slides)</a>
  </li>
  <li>
    <a href="https://blockchainbillionspodcast.com/2017/05/22/stefano-paluello/" target="_blank">Blockchain interview</a> from the <a href="https://blockchainbillionspodcast.com/" target="_blank">Blockchain billions podcast</a>
  </li>
</ul>
