<div class="inner">
  <div class="primary">
    <h2><a href="/">
      <!-- <img src="/public/images/logo.svg" width="50" /> -->
      Free thoughts on a leash
    </a></h2>
  </div>
  <div class="secondary">
      {% include "navbar.liquid" %}
  </div>
</div>
