<nav>
    <a href="/" class="button start"><span>Home</span></a>
    <a href="/blog" class="button docs"><span>Blog</span></a>
    <a href="/resources" class="button news"><span>Resources</span></a>
    <a href="/code" class="button contrib"><span>Code</span></a>
    <a href="/about" class="button help"><span>About</span></a>
  </nav>
